# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
README.md.backup
tools/default.workspace
tools/default.workspace.layout
tools/mkimg/mkimg.cbp
tools/Ultimate/.vs/
*.sbr
tools/Ultimate/Win32/Debug/Ultimate.tlog/
tools/Ultimate/Win32/Release/Ultimate.tlog/
tools/Ultimate/x64/Debug/Ultimate.tlog/bscmake.command.1.tlog
tools/Ultimate/x64/Debug/Ultimate.tlog/
tools/Ultimate/x64/Release/Ultimate.tlog/bscmake.read.1.tlog
tools/Ultimate/x64/Release/Ultimate.tlog/
*.log
*.bsc
*.recipe
*.res
*.txt
